.not-found {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-direction: column;

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}