<footer class="d-flex align-items-center justify-content-center flex-column">
    Made with ♥️ by Maxim
    <div class="contact-links">
        <a target="_blank" href="https://github.com/mwchiao"><span class="fa fa-github" title="Maxim's GitHub profile"></span></a>
        <a target="_blank" href="https://www.linkedin.com/in/mwchiao/"><span class="fa fa-linkedin" title="Maxim's LinkedIn profile"></span></a>
        <a target="_blank" href="https://maximchiao.me"><span class="fas fa-globe" title="Maxim's personal website"></span></a>
    </div>
</footer>