.content-bg {
    margin-bottom: 0;
}

textarea[name="body"] {
    font-family: monospace;
}

input[type="checkbox"] {
    display: inline-block;
    height: 1.25rem;
    width: 1.25rem;
}

input[formControlName="published"] {
    display: inline-flex;
}