header {
    display: flex;
    align-items: center;
    min-height: 40px;
}

header > div {
    flex-grow: 1;
}

header a,
header span {
    color: white;
}

.btn-header:hover,
.btn-header:focus {
    background: white;
}

.btn-header:hover span,
.btn-header:focus span {
    color: black;
}