<div class="content-container">
    <div class="content">
        <div class="content-bg">
            <p *ngIf="!post.published" class="text-danger">(Draft)</p>
            <h1>{{ post.title }}</h1>
            <div class="post-info">
                <div>
                    <span class="fas fa-calendar mr-1"></span>
                    <span *ngIf="post.date">{{ post.date.toDate() | date: "mediumDate" }}</span>
                    <span *ngIf="!post.date">Date not found</span>
                </div>
                <span class="badge badge-light mt-2 mr-2" *ngFor="let category of post.categories | keyvalue">{{ category.value }}</span>
            </div>
            <div class="mt-4" [innerHTML]="post.body | markdown" ngPreserveWhitespaces></div>
        </div>
    </div>
</div>

<loading-spinner *ngIf="loading"></loading-spinner>
