<div class="content-container pt-5">
    <div class="content">
        <div *ngIf="!loading" class="content-bg">
            <p *ngIf="!post.published" class="text-danger">(Draft)</p>
            <h1>{{ post.title }}</h1>
            <div class="post-info">
                <div>
                    <span >{{ post.date.toDate() | date: "mediumDate" }}</span>
                    <span *ngIf="!post.date">Date not found</span>
                </div>
                <span class="badge badge-light mt-4 mr-2" 
                      *ngFor="let category of post.categories | keyvalue"
                      >
                    <a [routerLink]="['/tags', category.value]">{{ category.value }}</a>
                </span>
            </div>
            <div class="post-body mt-4" [innerHTML]="post.body | markdown" ngPreserveWhitespaces></div>
        </div>
        <loading-spinner *ngIf="loading"></loading-spinner>
    </div>
</div>