<div class="container-fluid">
    <div class="row justify-content-center mt-3">
        <div class="col-lg-9 col-12">
            <h1>Tag: <span class="badge badge-secondary"><span class="fas fa-tag mr-2" aria-hidden="true"></span>{{ tag }}</span></h1>
        </div>
    </div>
    <div class="row justify-content-center" *ngIf="!loading">
        <div class="col-lg-9 col-12 mt-4" *ngIf="posts.length">
            <p class="text-muted mb-1">Results: {{ posts.length }}</p>
            <ul class="list-group" *ngIf="!loading">
                <li class="list-group-item d-flex justify-content-between" *ngFor="let post of posts">
                    <a [routerLink]="['/post', post.id]">{{ post.title }}</a>
                    <span class="text-muted">{{ post.date.toDate() | date: "mediumDate" }}</span>
                </li>
            </ul>
        </div>
        <div class="col-lg-9 col-12" *ngIf="posts.length == 0">
            <p class="mt-4">No posts with tag: {{ tag }}</p>
        </div>
    </div>
    <div class="row justify-content-center mt-3" *ngIf="loading">
        <loading-spinner class="col-lg-9 col-12"></loading-spinner>
    </div>
</div>