body {
    background: var(--light);
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 1rem;
    font-size: 1.5rem;
}

form input,
form textarea {
    border: none;
    border-bottom: 1.75px solid lightgray;
    background: transparent;
    transition: border-bottom 0.5s ease;
}

form input:hover,
form input:active,
form textarea:hover,
form textarea:active {
    border-bottom: 1.75px solid var(--primary);
}

.content-container {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.content {
    width: 100%;
    margin: 0 0.5rem;
}

.content-bg {
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.125);
    padding: 1rem;
    background: white;
    margin-bottom: 2rem;
}

.edit-btn {
    background: #edeff2;
}

.edit-btn:not([disabled]):hover {
    background: #d3d5d8;
}

@media screen and (min-width: 575.98px) {
    .content {
        width: 70vw;
    }
}