<div class="jumbotron d-flex justify-content-center">
    <div class="content">
        <h1>// Maxim's Blog</h1>
    </div>
</div>
<div class="content-container">
    <div class="content">
        <div>
            <ul class="p-0" *ngIf="posts.length else noPosts">
                <li class="post-container" *ngFor="let post of posts">
                    <a class="post" [routerLink]="['post', post.id]">
                        <div class="card">
                            <div class="card-body">
                                <p *ngIf="!post.published" class="text-danger">(Draft)</p>
                                <h2 class="card-title">{{ post.title }}</h2>
                                <div class="card-subtitle my-2 text-muted">
                                    <span *ngIf="post.date">{{ post.date.toDate() | date: "mediumDate" }}</span>
                                    <span *ngIf="!post.date">Date not found</span>
                                </div>
                                <p>{{ post.short_description }}</p>
                                <div class="mt-3">
                                    <span class="badge badge-light mr-2 mt-3" *ngFor="let category of post.categories | keyvalue">{{ category.value }}</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <ng-template #noPosts><p>There's nothing here!</p></ng-template>
        <div infiniteScroll 
             [infiniteScrollDistance]= "1" 
             [infiniteScrollThrottle]= "1000"
             (scrolled)="getBlogPosts()"
             *ngIf="!finished"
             >
        </div>
        <div *ngIf="finished"><p>🐷 That's all, folks!</p></div>
        <loading-spinner *ngIf="loading"></loading-spinner>
    </div>
</div>